<header>
<span class ="logo-mark"> BAUSKIS2</span>
<%= content_tag(:span, flash.notice,class: "notice") if flash.notice %>
<%= content_tag(:span, flash.alert,class: "alert") if flash.alert %>


<%=
if current_staff_member
link_to "logout", :staff_session, method: :delete
else
link_to "login", :staff_login
end
%>
<%= link_to "account", :staff_account if current_staff_member%>
</header>